/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*MEU CODIGO*/
.main-wrapper{
  margin: 0 auto;
  width: 100%;
}
body{
  background-color: #ccc;
}
header nav{
  width: 100%;
  height: 50px;
  background-color: #fff;
}
header nav ul{
  list-style: none;
  display: inline;
}

header nav ul li{
  display: inline;
}
header nav ul li a{

  padding: 15px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #111;
  line-height: 40px;
}

header .nav-login{
  float: right;
}

header .nav-login form{
  float: left;
  padding-top: 5px;
}

header .nav-login form input{
  float: left;
  width: 150px;
  height: 30px;
  padding: 0px 10px;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  background-color: #ccc;
  color: #111;
}

header .nav-login form button{
  display: block;
  float: left;
  width: 65px;
  height: 30px;
  padding: 0px 10px;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  border: none;
  background-color: rgba(131, 228, 188, 0.6);
  transition: 0.6s;
  color: #111;
  line-height: 30px;
  cursor: pointer;
}

header .nav-login form button:hover{
  background-color: rgb(131, 228, 188)
}

header .nav-login form a{
  text-decoration: none;
  float: left;
  width: 65px;
  height: 30px;
  padding: 0px 10px;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  border: none;
  background-color: rgba(154,175,199, 0.7);
  transition: 0.6s;
  color: #111;
  cursor: pointer;
}

header .nav-login form a:hover{
  background-color: rgb(154,175,199)
}

.main-container{
  padding-top: 40px;

}

.main-container h2{
  padding-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  text-align: center;
}

/*signup.php*/

.signup-form{
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
}

.signup-form input{
  width: 90%;
  height: 40px;
  padding: 0px 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #111;
}

.signup-form button{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  text-align: center;
  border: none;
  background-color: rgba(154,175,199, 0.7);
  transition: 0.6s;
  color: #111;
  cursor: pointer;
}

.signup-form button:hover{
  background-color: rgba(154,175,199);
}
/*ulist.php*/
table{
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
}

table th{
  background: rgb(131, 228, 188);
  text-align: left;
  padding: 10px;
  color: #fff;
}
table td{
  padding: 10px;
}
table td a i{
  color: rgba(0, 0, 0, 0.596);
  transition: 0.6s;
}
table td a i:hover{
  color: rgba(0, 0, 0);
}
table tr:nth-child(even){
  background: #fff;
}

/*update.php*/



/*delete.php*/

.data-delete{
  text-align: center;
  padding: 25px;
}
.data-delete h3{
  color: red;
  margin-bottom: 10px;
}
.data-delete span{
  color: red;
}

.btnCancelar{
  text-align: center;
  margin-top: 15px;
  background-color: #008CBA; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btnDeletar{
  text-align: center;
  height: 46px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
